<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      font-family: "Times New Roman", Times, serif;
      font-size: 10px !important;
      line-height: 1.6;
    }

    .main-page {
      background: white;
      padding: 18px;
      font-size: 10px !important;
    }

    .mainHeading {
      font-weight: 900;
      font-size: 15px;
    }

    .alpha {
      list-style-type: lower-alpha;
    }
  </style>
</head>

<body style="font-family: Times New Roman, Times, serif;font-size: 14px !important;">

  <br>
  <br>
  <center>
    <span class="mainHeading">OURJOB.APP PLACEMENT AGREEMENT</span>
  </center>
  <div class="main-page">
    <br>
    THIS AGREEMENT is made this {{ VAR_DATE_OF_AGREEMENT }} by and between American Labor Company, LLC, a New York
    LLC with offices at PO Box 353 East Aurora, NY 14052 ("ourjob.app"), and {{ VAR_PARTNER_COMPANY_NAME }},
    with offices at {{ VAR_PARTNER_OFFICE_ADDRESS }} ("Company").
    <br>
    1. SERVICES<br>
    Employee placement services.
    <br>
    <br>
    2. COMPENSATION
    <br>
    For placement services, our fee is a $100 USD lumpsum payment due upon hiring a ourjob.app recommended candidate. If
    the Company hires a ourjob.app recommended candidate without informing ourjob.app, the Company will be charged a
    $1,000 USD punitive fee. Punitive fees will compound monthly at an interest rate of 5% beginning 30 days after the
    first invoice is sent.
    <br><br>
    2. DRUG SCREENING
    <br>
    ourjob.app has not drug tested potential candidates as part of our vetting process.
    <br><br>
    3. BACKGROUND CHECK
    <br>
    ourjob.app has not conducted a background check on potential candidates as part of our vetting process.
    <br><br>
    4. RELATIONSHIP OF PARTIES
    <br>
    Independent Contractor. ourjob.app, in rendering performance under this Agreement, shall be deemed an independent
    contractor and nothing contained herein shall constitute this arrangement to be employment, a joint venture, or a
    partnership. ourjob.app shall be solely responsible for and shall hold Company harmless for any and all claims for
    taxes, fees, or costs, including but not limited to withholding, income tax, FICA, and workers' compensation.
    <br><br>
    5. NOTICES
    <br>
    Any notices required to be given under this Agreement shall be in writing and delivered by email to the other
    designated party.
    <br><br>
    <div style="margin-left: 10px;">
      (a) If to the Company, to:
      <br>
      <span style="font-weight: 600;">{{ VAR_DESIGNATED_PARTY_NAME }}</span>
      <br>
      <a href="mailto:{{VAR_DESIGNATED_PARTY_EMAIL}}"> {{ VAR_DESIGNATED_PARTY_EMAIL }}</a>
      <br><br>
      (b) If to ourjob.app, to:
      <br>
      <span style="font-weight: 600;">Ourjob.app</span>
      <br>
      <a href="mailto:legal@ourjob.app">
        legal@ourjob.app
      </a>
    </div>
    <br>
    Either party may change the email address to which notice is to be sent by written notice to the other.
    <br><br>
    6. PAYMENT
    <br>
    Payment will be processed through a third-party vendor. Links to third-party payment platform can be found in emails
    from ourjob.app.
    <br><br>
    7. JURISDICTION/DISPUTES
    <br>
    This Agreement shall be governed in accordance with the laws of the State of New York. All disputes under this
    Agreement shall be resolved by litigation in the courts of the State of New York including the federal courts
    therein and the Parties all consent to the jurisdiction of such courts, agree to accept service of process by mail,
    and hereby waive any jurisdictional or venue defenses otherwise available to it.
    <br><br>
    8. AGREEMENT BINDING ON SUCCESSORS
    <br>
    The provisions of the Agreement shall be binding upon and shall inure to the benefit of the Parties hereto, their
    heirs, administrators, successors and assigns.
    <br>
    <br><br>
    9. ASSIGNABILITY
    <br>
    Neither party may assign this Agreement or the rights and obligations there under to any third party without the
    prior express written approval of the other party which shall not be unreasonably withheld.
    <br><br>
    10. WAIVER
    <br>
    No waiver by either party of any default shall be deemed as a waiver of prior or subsequent default of the same of
    other provisions of this Agreement.
    <br><br>
    11. SEVERABILITY
    <br>
    If any term, clause or provision hereof is held invalid or unenforceable by a court of competent jurisdiction, such
    invalidity shall not affect the validity or operation of any other term, clause or provision and such invalid term,
    clause or provision shall be deemed to be severed from the Agreement.
    <br><br>
    IN WITNESS WHEREOF, the parties hereto, intending to be legally bound hereby, have each caused to be affixed hereto
    its or his/her hand and seal the day indicated.
  </div>

</body>

</html>