<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      font-family: "Times New Roman", Times, serif;
      font-size: 10px !important;
      line-height: 1.6;
    }

    .main-page {
      background: white;
      padding: 18px;
      font-size: 10px !important;
    }

    .mainHeading {
      font-weight: 900;
      font-size: 15px;
    }

    .alpha {
      list-style-type: lower-alpha;
    }
  </style>
</head>

<body>
  <br>
  <br>
  <center>
    <span class="mainHeading">SHARER AGREEMENT</span>
  </center>
  <div class="main-page">
    <br>
    <br>
    This Sharer Agreement ("Agreement") is made and entered into as of {{ VAR_EFFECTIVE_DATE }} ("Effective Date") by
    and between {{ VAR_PARTNER_NAME }} ("Sharer"), and American Labor Company LLC (the "Client"). The Sharer and
    the Client are hereinafter collectively referred to as the "parties.""
    <br><br>

    In consideration of the mutual promises herein contained and intending to be legally bound hereby, Client and the
    Sharer agree as follows:
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-decoration: underline;">1. Engagement and Scope.</span>
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(a) The Client hereby engages the Sharer to perform independent
    consulting services, and the Sharer hereby accepts
    such engagement, upon the terms and conditions set forth in this Agreement. The Sharer shall consult and assist the
    Client by providing the services described in ATTACHMENT A (the "Services") attached hereto and incorporated into
    this Agreement by reference. The Sharer and Client may mutually agree to modify the Services from time to time
    during the term of this Agreement.
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(b) The Sharer agrees that it and its employees, agents and
    representatives shall comply with all international,
    federal, state and local laws and regulations relating, directly or indirectly, to its performance hereunder.
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-decoration: underline;">2. Compensation.</span>
    <br>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(a) In consideration of the Services provided hereunder, the Client
    shall pay the Sharer the fees in the manner set
    forth in ATTACHMENT A attached hereto and incorporated into this Agreement by reference. The Client will not
    reimburse the Sharer for any expenses incurred in connection with the Services as noted in ATTACHMENT A.
    
    <!-- </div>
  <div style="page-break-after: always;" class="main-page"> -->
    <br>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-decoration: underline;">3. Term and Termination</span>
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(a) The term of this Agreement shall begin on the Effective Date and
    continue until {{VAR_TERMINATION_DATE}}
    ("Termination Date"). This agreement will automatically renew for a one-year period unless canceled as noted in
    section 3(b) below.
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(b) The Client has the right at any time, with or without cause, to
    terminate this Agreement immediately with
    written notice to the other.
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(c) Upon the termination of this Agreement, the Sharer shall
    immediately cease any activities related to the
    Services and shall deliver promptly to the Client any property of the Client in its possession or under its control.

    <br>
    <br>
    <!-- Fourth Point -->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-decoration: underline;">4. Independent Contractor Status.</span>
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(a) The Sharer acknowledges and agrees that it and its employees,
    agents and representatives are acting under this
    Agreement solely as independent contractors, and not as employees of the Client, and shall have no authority to act
    for or bind or obligate the Client in any manner except to the extent specifically set forth in ATTACHMENT A or as
    otherwise authorized by the Client. The Sharer acknowledges that it is solely responsible for determining the manner
    and means of the performance of the Services. Accordingly, nothing herein contained shall be construed as creating
    the relationship of employer and employee between Client and Sharer.

    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(b) The Sharer and its employees, agents and representatives shall
    not be eligible for any benefits available only
    to employees of the Client, including, but not limited to, workers' compensation insurance, state disability
    insurance, unemployment insurance, group health and life insurance, vacation pay, sick pay, severance pay, bonus
    plans, pension plans, savings plans and the like.

    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(c) Noincome,socialsecurity,statedisabilityorothersuchfederalorstate
    payroll tax shall be deducted from payments
    made to the Sharer under this Agreement. The Sharer agrees to pay all state and federal taxes and other such levies
    and charges as they become due on account of monies paid to the Sharer hereunder, and to defend, indemnify and hold
    the Client harmless from and against any and all liability resulting from any failure to do so.

    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-decoration: underline;">5. Proprietary
      Information.</span>&nbsp;&nbsp;The Client may provide the Sharer with certain confidential and proprietary
    information
    to facilitate the performance of the Services. Such information may include, but is not limited to, the Client's
    operations and activities; any plans, strategies and/or proposals; financial information; and, other confidential
    information that constitutes proprietary or trade secret information belonging to the Client. Sharer agrees to hold
    all such information in the strictest confidence and agrees not to use it for any purpose other than to perform the
    Services.

    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-decoration: underline;">6. Intellectual
      Property.</span>&nbsp;&nbsp;The Sharer acknowledges and agrees that any products or findings that result from the
    performance of the Services under the scope of this Agreement (the "Developments") will be created as works made for
    hire and that the Client will have rights to the Developments. The Sharer will execute any documents necessary or
    appropriate to realize the Client's rights and any title to the Developments, including any assignment of copyright,
    when warranted.

    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="text-decoration: underline;">7. Indemnification.</span>&nbsp;&nbsp; Each party agrees to defend,
    indemnify and hold harmless the other from and against any and all claims, losses, liabilities or expenses
    (including, without limitation, reasonable attorneys' fees) which may arise, in whole or in part, out of a breach by
    that party of its obligations under this Agreement. The Sharer shall indemnify, defend and hold harmless the Client,
    its officers, directors, employees, agents, representatives, successors and assigns, from and against any and all
    damages incurred in connection with, arising from, or incident to the Sharer's or its employees', agents', or
    representatives' gross negligence or willful misconduct in the performance of the Services. The Client shall
    indemnify, defend and hold harmless the Sharer, its officers, directors, employees, agents, representatives,
    successors and assigns, from and against any and all damages incurred in connection with, arising from, or incident
    to the organization, financing and/or operation of the Client.

    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="text-decoration: underline;">8. Notices.</span>&nbsp;&nbsp;All notices, approvals, and consents
    required to be sent under this Agreement to either party shall be in writing, and shall be deemed duly given if
    delivered by email in each case to the email address set forth below:

    <br>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    (a) If to the Sharer, to:
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="font-weight: 600;">{{VAR_SHARED_NAME}}</span>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="mailto:{{VAR_SHARED_EMAIL}}">{{VAR_SHARED_EMAIL}}</a>
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    (b) If to the Client, to:
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span><span style="font-weight: 600;">Ourjob.app</span>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="mailto:legal@ourjob.app">legal@ourjob.app</a>
    <br><br>
    Either party may change its email address for notice by written notice to other.


    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="text-decoration: underline;">9. Miscellaneous.</span>


    <br>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    (a) This Agreement may not be amended or modified, and no provision of this Agreement may be waived, except in a
    writing signed by each of the parties hereto. Waiver of any one provision of this Agreement shall not be deemed to
    be a waiver of any other provision.
    <br>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    (b) This Agreement shall be binding upon and inure to the benefit of the parties hereto and their respective heirs,
    legal representatives, successors and permitted assigns.

    <br>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    (c) Each provision of this Agreement shall be considered separable. If for any reason any provision or provisions
    hereof are determined to be invalid or contrary to applicable law, such invalidity shall not impair the operation of
    or affect the remaining provisions of this Agreement.

    <br>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    (d) This Agreement shall be governed by and construed in accordance with the laws of the State of New York, without
    giving effect to its principles of conflicts of law. Any legal action or proceeding brought to interpret or enforce
    this Agreement or in any other way arising out of or in relation to this Agreement shall be brought in either the
    state or federal courts located in Erie County, New York.

    <br>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    (e) This Agreement may be executed in counterparts and by facsimile signature, each of which shall be deemed an
    original, and all of which shall together constitute one and the same instrument.

    <br>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    (f) This Agreement constitutes the entire agreement between the Sharer and the Client with respect to the subject
    matter hereof and supersedes all prior oral or written agreement.
    <br>
    <br>
    The parties hereto have executed this Agreement as of the Effective Date.


  </div>

</body>

</html>