<div style="font-size: 1.2rem; font-family: Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;">
    <h5>
        Hi, {{name}}!
    </h5>
    <p style="margin-bottom: 3rem;">
        Please find your updated candidate pool below. Happy hiring!
    </p>
    <table style="font-size: 1rem; border-collapse: collapse; width: 1200px;">
        <thead>
            <tr>
              <th style="text-align:center">Name</th>
              <th style="text-align:center">Location</th>
              <th style="text-align:center">Email</th>
              <th style="text-align:center">Phone</th>
              <th style="text-align:center">Education</th>
              <th style="text-align:center">Job</th>
              <th style="text-align:center">Experience</th>
              <th style="text-align:center">Other</th>
            </tr>
        </thead>

        <tbody>
            {{#each buttonRows}}
                <tr>
                    <td style="text-align:center">{{this.name}}</td>
                    <td style="text-align:center">{{this.location}}</td>
                    <td style="text-align:center">{{this.email}}</td> 
                    <td style="text-align:center">{{this.phone}}</td>
                    <td style="text-align:center">{{this.education}}</td>
                    <td style="text-align:center">{{this.job}}</td> 
                    <td style="text-align:center">{{this.experience}}</td>
                    <td style="text-align:center">{{this.info}}</td>          
                </tr>
                <tr>
                    <td align="center" colspan="8"><a href="{{this.paymentLink}}"><div style="color: white; background: linear-gradient(135deg,  #2B4F7B, #9E005D); padding: 5px; margin: 10px; margin-bottom: 20px; text-decoration: none; border-radius: 10px; width: 25%;">Hire</div></a></td>
                </tr>
            {{/each}}
            {{#each none}}
                <tr>
                    <td align="center" colspan="8"><div style="color: white; background: linear-gradient(135deg,  #2B4F7B, #9E005D); padding: 5px; margin: 10px; margin-bottom: 20px; text-decoration: none; border-radius: 10px; width: 25%;">{{ this }}</div></td>
                </tr>
            {{/each}}
        </tbody>
  </table>
  <p style="margin-top: 3rem;">
    Our best,
    <br>
    Ourjob.app
  </p>
</div>

